
ul {
  list-style: none;
}
html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: #F8F8F8;
  font-family: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
}
.page__hd {
  padding: 20px;
}
.page__hd h1 {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.page__hd p {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px;
}
.page__bd_spacing {
  padding: 0 15px;
}
.page__ft {
  padding-top: 40px;
  padding-bottom: 10px;
  text-align: center;
}
.page__ft.j_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.weui-btn-area {
  margin: 1.3em 15px;
}
.weui-cell__ft_rg {
  margin-right: -5px;
  margin-bottom: -6px;
}
.weui-radio-group {
  display: inline-block;
  font-size: 0;
  line-height: 1;
}
.weui-radio-group .weui-radio-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.weui-radio-group .weui-radio-button input[type='radio'] {
      opacity: 0;
      outline: none;
      position: absolute;
      z-index: -1;
      left: -999px;
}
.weui-radio-group .weui-radio-button input[type='radio']:checked + span {
        color: #fff;
        background-color: #3cc51f;
        border-color: #3cc51f;
}
.weui-radio-group .weui-radio-button span {
      min-width: 4em;
      display: inline-block;
      line-height: 1;
      white-space: nowrap;
      vertical-align: middle;
      background: #fff;
      border: 1px solid #3cc51f;
      color: #3cc51f;
      -webkit-appearance: none;
      text-align: center;
      box-sizing: border-box;
      outline: none;
      margin: 0;
      position: relative;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      -webkit-user-select: none;
      padding: 5px 12px;
      font-size: 12px;
      border-radius: 0;
}
.weui-radio-group .weui-radio-button:first-child span {
      border-radius: 4px 0 0 4px;
}
.weui-radio-group .weui-radio-button:not(:last-child) {
      margin-right: -1px;
}
.weui-radio-group .weui-radio-button:last-child span {
      border-radius: 0 4px 4px 0;
}

.weui-cell_select span.percent[data-v-35a772f3] {
  padding: 0 0 0 15px;
}
.result1-form[data-v-35a772f3] {
  margin-top: 1.17647059em;
}

.weui-cell_select span.percent[data-v-abce9786] {
  padding: 0 0 0 15px;
}
.result1-form[data-v-abce9786] {
  margin-top: 1.17647059em;
}

.weui-form-preview.result-bx li {
  text-align: left;
  list-style-position: inside;
  list-style-type: decimal;
}
.weui-form-preview.result-bx .weui-form-preview__desc {
  text-align: left;
}
.weui-form-preview.result-bx .weui-form-preview__desc b {
    color: #F43530;
}

.weui-form-preview__item li[data-v-08079a3b] {
  text-align: left;
  list-style-position: inside;
  list-style-type: decimal;
}
.weui-form-preview__item .weui-form-preview__desc[data-v-08079a3b] {
  text-align: left;
}
.weui-form-preview__item .weui-form-preview__desc b[data-v-08079a3b] {
    color: #F43530;
}

.weui-label-lg[data-v-fa04f0b2] {
  width: 145px;
}
.result__hd[data-v-fa04f0b2] {
  padding: 0 15px;
}
.result[data-v-fa04f0b2] {
  position: relative;
}
table[data-v-fa04f0b2] {
  margin-top: 20px;
  text-align: right;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr[data-v-fa04f0b2]:nth-child(even) {
    background-color: #fff;
}
table td[data-v-fa04f0b2] {
    padding: 6px 0 3px;
}
table td[data-v-fa04f0b2]:last-child {
      padding-right: 10px;
}
table th[data-v-fa04f0b2]:last-child {
    padding-right: 10px;
}

li[data-v-313e45e1] {
  margin: 10px 0;
  background-color: #FFFFFF;
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
}
li.js_show .weui-flex[data-v-313e45e1] {
    opacity: .4;
}
li.js_show .page__category[data-v-313e45e1] {
    height: auto;
}
li.js_show .page__category-content[data-v-313e45e1] {
    opacity: 1;
    transform: translateY(0);
}
li[data-v-313e45e1]:first-child {
    margin-top: 0;
}
.page__category[data-v-313e45e1] {
  height: 0;
  overflow: hidden;
}
.page__category-content[data-v-313e45e1] {
  opacity: 0;
  transform: translateY(-50%);
  transition: .3s;
}
.weui-flex[data-v-313e45e1] {
  padding: 20px;
  -ms-flex-align: center;
      align-items: center;
  transition: .3s;
}
.weui-cells[data-v-313e45e1] {
  margin-top: 0;
}
.weui-cells[data-v-313e45e1]:before, .weui-cells[data-v-313e45e1]:after {
    display: none;
}
.weui-cell[data-v-313e45e1] {
  padding-left: 20px;
  padding-right: 20px;
}
.weui-cell[data-v-313e45e1]:before {
    left: 20px;
    right: 20px;
}

/*# sourceMappingURL=app.85dbdfe.css.map*/